<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin</title>
        <link rel="stylesheet" href="/admin.css">
    </head>
    <body>
        <h1>AVM</h1>

        <p class="user" id="user">Welcome, <%=user %></p>

        <input type="text" id="myInput" onkeyup="filter()" placeholder="Search for reseller.." title="Type in a reseller">

        <div class="label">
            <label for="pending"><b>Pending</b></label>
            <hr>
            <div class="deals">
                <table>
                    <thead>
                        <tr>
                            <th>Deal No.</th>
                            <th>Client</th>
                            <th>Reseller</th>
                            <th>Added On</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody id="myTable">
                        <% if (deal.length > 0) { %>
                            <% deal.forEach(deal => { %>
                                <% if (deal.status === 'pending') { %>
                                    <tr>
                                        <th data-href="/admin/<%= deal.dealNo %>/<%=user %>"><%= deal.dealNo %></th>
                                        <th data-href="/admin/<%= deal.dealNo %>/<%=user %>"><%= deal.endUser %></th>
                                        <th data-href="/admin/<%= deal.dealNo %>/<%=user %>"><%= deal.reseller %></th>
                                        <th data-href="/admin/<%= deal.dealNo %>/<%=user %>"><%= deal.submitTime %></th>
                                        <th class="dropdown">
                                            <button onclick="myFunction()" class="dropbtn">...</button>
                                            <div id="myDropdown" class="dropdown-content">
                                                <form method="POST">
                                                    <button formaction="/accept/<%= deal.dealNo %>/<%=user %>">Accept</button>
                                                    <button formaction="/reject/<%= deal.dealNo %>/<%=user %>">Reject</button>
                                                </form>
                                            </div>
                                        </th>
                                    </tr>
                                <% } %>
                            <% }) %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="label">
            <label for="accept"><b>Accepted</b></label>
            <hr>
            <div class="deals">
                <table>
                    <thead>
                        <tr>
                            <th>Deal No.</th>
                            <th>Client</th>
                            <th>Reseller</th>
                            <th>Added On</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="acceptTable">
                        <% if (deal.length > 0) { %>
                            <% deal.forEach(deal => { %>
                                <% if (deal.status === 'accept') { %>
                                    <tr>
                                        <th data-href="/admin/<%= deal.dealNo %>/<%=user %>"><%= deal.dealNo %></th>
                                        <th data-href="/admin/<%= deal.dealNo %>/<%=user %>"><%= deal.endUser %></th>
                                        <th data-href="/admin/<%= deal.dealNo %>/<%=user %>"><%= deal.reseller %></th>
                                        <th data-href="/admin/<%= deal.dealNo %>/<%=user %>"><%= deal.submitTime %></th>
                                        <th class="dropdown">
                                            <button onclick="myFunction()" class="dropbtn">...</button>
                                            <div id="myDropdown" class="dropdown-content">
                                                <form method="POST">
                                                    <button formaction="/close/<%= deal.dealNo %>/<%=user %>">Close</button>
                                                </form>
                                            </div>
                                        </th>
                                    </tr>
                                <% } %>
                            <% }) %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="label">
            <label for="reject"><b>Rejected</b></label>
            <hr>
            <div class="deals">
                <table>
                    <thead>
                        <tr>
                            <th>Deal No.</th>
                            <th>Client</th>
                            <th>Reseller</th>
                            <th>Added On</th>
                        </tr>
                    </thead>

                    <tbody id="rejectTable">
                        <% if (deal.length > 0) { %>
                            <% deal.forEach(deal => { %>
                                <% if (deal.status === 'reject') { %>
                                    <tr>
                                        <th data-href="/admin/<%= deal.dealNo %>/<%=user %>"><%= deal.dealNo %></th>
                                        <th data-href="/admin/<%= deal.dealNo %>/<%=user %>"><%= deal.endUser %></th>
                                        <th data-href="/admin/<%= deal.dealNo %>/<%=user %>"><%= deal.reseller %></th>
                                        <th data-href="/admin/<%= deal.dealNo %>/<%=user %>"><%= deal.submitTime %></th>
                                    </tr>
                                <% } %>
                            <% }) %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

        <script>
            function myFunction() {
              document.getElementById("myDropdown").classList.toggle("show");
            }
            
            window.onclick = function(event) {
              if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                  }
                }
              }
            }

            document.addEventListener("DOMContentLoaded", () => {
                const rows = document.querySelectorAll("th[data-href");

                rows.forEach(row => {
                    row.addEventListener('click', () => {
                        window.location.href = row.dataset.href;
                    });
                });
            });

            function filter() {
                var input, filter, table, tr, th, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    th = tr[i].getElementsByTagName("th")[2];
                    if (th) {
                        txtValue = th.textContent || th.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }       
                }

                table1 = document.getElementById("acceptTable");
                tr = table1.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    th = tr[i].getElementsByTagName("th")[2];
                    if (th) {
                        txtValue = th.textContent || th.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }       
                }

                table2 = document.getElementById("rejectTable");
                tr = table2.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    th = tr[i].getElementsByTagName("th")[2];
                    if (th) {
                        txtValue = th.textContent || th.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }       
                }
            }
    </script>
    </body>
</html>
