<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h4>AVM Deal Registration Page</h4>
        <ul>
            <Li><a href="/home">Home</a></Li>
            <Li><a href="/login">Login</a></Li>
            <Li><a href="/register">Register</a></Li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
              Thank you for submitting the deal registration
            </div>
            <div class="card-body">
              <h5 class="card-title">This is the opportunity that you registered. Print for your record</h5>
              <p class="card-text">If you need information on our cloud services, click the button below</p>
              <a href="http://avmcloud.net" class="btn btn-primary">AVM Cloud Website</a>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Field</th>
                <th scope="col">Data</th>
            </tr>
            </thead>
            <tbody>
            <% deal.forEach(deal => { %>    
                <tr>
                    <th scope="row">1</th>
                    <td>Deal Registration Number</td>
                    <td><%= deal.dealNo %></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Opportunity Name</td>
                    <td><%= deal.oppName %></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Opportunity Value</td>
                    <td><%= deal.oppValue %></td>
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td>Prospect's Name</td>
                    <td><%= deal.custName %></td>
                </tr>

                <tr>
                    <th scope="row">5</th>
                    <td>Prospect's Person In Charge</td>
                    <td><%= deal.custPICName %></td>
                </tr>

                <tr>
                    <th scope="row">6</th>
                    <td>Prospect's Person In Charge Phone</td>
                    <td><%= deal.custPICPhone %></td>
                </tr>

                <tr>
                    <th scope="row">7</th>
                    <td>Prospect's Person In Charge Email</td>
                    <td><%= deal.custPICEmail %></td>
                </tr>

                <tr>
                    <th scope="row">8</th>
                    <td>Prospect's Address</td>
                    <td><%= deal.custAdd %></td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Prospect's State</td>
                    <td><%= deal.custState %></td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Prospect's Country</td>
                    <td><%= deal.custCountry %></td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>Prospect's Number of Employee</td>
                    <td><%= deal.custEmployee %></td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>Prospect's Number of VM</td>
                    <td><%= deal.custVM %></td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>Prospect's Applications</td>
                    <td><%= deal.custApps %></td>
                </tr>
                <tr>
                    <th scope="row">14</th>
                    <td>Prospect's Budget</td>
                    <td><%= deal.custBudget %></td>
                </tr>
                <tr>
                    <th scope="row">15</th>
                    <td>Prospect's estimated close date</td>
                    <td><%= deal.closeDate %></td>
                </tr>
                <tr>
                    <th scope="row">16</th>
                    <td>Reseller Company Name</td>
                    <td><%= deal.submitterReseller %></td>
                </tr>
                <tr>
                    <th scope="row">17</th>
                    <td>Reseller Person In Charge</td>
                    <td><%= deal.submitterName %></td>
                </tr>
                <tr>
                    <th scope="row">18</th>
                    <td>Reseller Person In Charge designation</td>
                    <td><%= deal.submitterDesignation %></td>
                </tr>
                <tr>
                    <th scope="row">19</th>
                    <td>Reseller Person In Charge phone</td>
                    <td><%= deal.submitterPhone %></td>
                </tr>
                <tr>
                    <th scope="row">20</th>
                    <td>Reseller Person In Charge email</td>
                    <td><%= deal.submitterEmail %></td>
                </tr>
                <tr>
                    <th scope="row">21</th>
                    <td>Reseller Lead Pre-sales</td>
                    <td><%= deal.submitterSEName %></td>
                </tr>
                <tr>
                    <th scope="row">22</th>
                    <td>Reseller Lead Pre-sales Phone</td>
                    <td><%= deal.submitterSEPhone %></td>
                </tr>
                <tr>
                    <th scope="row">23</th>
                    <td>Reseller Lead Pre-sales Email</td>
                    <td><%= deal.submitterSEEmail %></td>
                </tr>

                <tr>
                    <th scope="row">24</th>
                    <td>Reseller activities</td>
                    <td><%= deal.submitterActivity %></td>
                </tr>
                <tr>
                    <th scope="row">25</th>
                    <td>Deal registration status</td>
                    <td>Pending</td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>